{
    // UI
    "atmosphere": "Atmosphere",
    "air-temprature": "Temprature",
    "build": "Build",
    "coordinates": "Coordinates",
    "energy": "Energy",
    "layers": "Layers",
    "material": "Material",
    "messages": "Messages",
    "none": "None",
    "orbit": "Orbit",
    "star-system": "Star system",
    "selected-tool": "Selected tool",
    
    // Structures
    "oxygen-generator": "oxygen generator",
    "fertilization-plant": "fertilization plant",
    
    // Messages
    "welcome_to": "Welcome to {$app_name} !",
}
