{
    // UI
    "add": "Add",
    "atmosphere": "Atmosphere",
    "atmosphere-pressure": "Atmospheric Pressure",
    "air-temprature": "Temprature",
    "biomass": "Biomass",
    "build": "Build",
    "carbon-dioxide": "Carbon Dioxide",
    "close": "Close",
    "coordinates": "Coordinates",
    "cost": "Cost",
    "demolition": "Demolition",
    "density": "Density",
    "enabled": "Enabled",
    "exit": "Exit",
    "fertility": "Fertility",
    "height": "Height",
    "help": "Help",
    "latitude": "Latitude",
    "layers": "Layers",
    "load": "Load",
    "longitude": "Longitude",
    "messages": "Messages",
    "menu": "Menu",
    "new": "New",
    "none": "None",
    "orbit": "Orbit",
    "oxygen": "Oxygen",
    "planet": "Planet",
    "produces": "Produces",
    "radius": "Radius",
    "rainfall": "Rainfall",
    "save": "Save",
    "search-new-planet": "Search New Planet",
    "solar-constant": "Solar Constant",
    "speed-paused": "Pause",
    "speed-normal": "Normal speed",
    "speed-fast": "Fast speed",
    "star-system": "Star system",
    "start": "Start",
    "statistics": "Statistics",
    "structures": "Structures",
    "selected-tool": "Selected tool",
    "upkeep": "Upkeep",
    "water": "Water",
    
    // Resources
    "energy": "Energy",
    "ice": "Ice",
    "material": "Material",
    "nitrogen": "Nitrogen",

    // Biomes
    "rock": "Rock",
    "ocean": "Ocean",
    "desert": "Desert",
    "ice-field": "Ice Field",
    "grassland": "Grassland",

    // Structures
    "oxygen-generator": "Oxygen Generator",
    "rainmaker": "Rainmaker",
    "fertilization-plant": "Fertilization Plant",
    "heater": "Heater",

    // Orbital Buildings
    "fusion-reactor": "Fusion Reactor",
    "nitrogen-sprayer": "Nitrogen Sprayer",

    // Star System Buildings
    "asteroid-mining-station": "Asteroid Mining Station",
    "ice-mining-station": "Ice Mining Station",
    "dyson-swarm-unit": "Dyson Swarm Unit",
    "ammonia-extractor": "Ammonia Extractor",

    // Messages
    "welcome_to": "Welcome to {$app_name} !",

    // Help
    "basics": "Basics",
    "concept": "Concept",
    "orbital-buildings": "Orbital Buildings",
    "star-system-buildings": "Star System Buildings",
    
    "help/concept": "In Pixel Gaia, players assume the role of administrator of an undeveloped planet and the star system that contains it, and are responsible for terraforming and operating the facility. Terraforming is the process of improving a barren planet into a habitable environment. Terraforming is essential for humans to establish large settlements outside of Earth. Various types of facilities are constructed to adjust the atmosphere, temperature, and vegetation on the planet. In this way, we can create an ideal environment for life.",

    "help/oxygen-generator": "Oxygen generators isolate oxygen from oxides in the planet's crust. The process requires a large amount of energy.",
    "help/rainmaker": "Rainmakers convert ice into water vapor and release it into the atmosphere. In addition to increasing surrounding rainfall, it also slightly raises sea level of the planet.",
    "help/fertilization-plant": "Fertilization Plants slowly transform the surrounding area into soil suitable for plant growth. Plant growth requires soil with sufficient nutrients, and Fertilization Plant promotes their formation by deploying fertilizers and soil improvement drones.",
    "help/heater": "Heaters emit energy into the atmosphere as heat, raising the surrounding temperature.",

    "help/fusion-reactor": "Fusion reactors provide the energy needed to operate facilities. Fusion is a highly efficient energy source essential to space civilization, but if more energy is needed, it will require the use of giant fusion reactors, stars.",
    "help/nitrogen-sprayer": "Nitrogen spreaders spray nitrogen into the atmosphere. Since nitrogen is essentially almost nonexistent in the planet's crust, it must be transported from other celestial bodies that have ammonia as their atmosphere.",

    "help/asteroid-mining-station": "Asteroid mining stations mine ore from asteroids and process it into materials that can be used for construction and other purposes.",
    "help/ice-mining-station": "Ice mining stations mine ice from ice-rich celestial bodies.",
    "help/dyson-swarm-unit": "The Dyson Swarm is a megastructure designed to harness all the energy emitted by a star. Each unit is merely a giant mirror that reflects light and delivers it to the demand location, but in sufficient numbers, they provide enough energy for terraforming.",
    "help/ammonia-extractor": "Ammonia extractors extract nitrogen from celestial bodies containing ammonia in air or solid form.",

    // Events
    "event/start": "    You have arrived on a barren, undeveloped planet. Depending on the conditions of the planet, you can build various facilities to transform it into an environment suitable for life.
    You need Energy to maintain the facilities and Material to build them. Energy can be produced by building fusion reactors in orbit and Material can be produced by building asteroid mining stations in the star system.
    Please refer to the help for further information as needed.",
}
