{
    // UI
    "add": "Add",
    "atmosphere": "Atmosphere",
    "atmosphere-pressure": "Atmospheric Pressure",
    "air-temprature": "Temprature",
    "build": "Build",
    "carbon-dioxide": "Carbon Dioxide",
    "coordinates": "Coordinates",
    "cost": "Cost",
    "demolition": "Demolition",
    "density": "Density",
    "enabled": "Enabled",
    "exit": "Exit",
    "fertility": "Fertility",
    "height": "Height",
    "latitude": "Latitude",
    "layers": "Layers",
    "load": "Load",
    "longitude": "Longitude",
    "messages": "Messages",
    "menu": "Menu",
    "new": "New",
    "none": "None",
    "orbit": "Orbit",
    "oxygen": "Oxygen",
    "planet": "Planet",
    "produces": "Produces",
    "radius": "Radius",
    "rainfall": "Rainfall",
    "save": "Save",
    "search-new-planet": "Search New Planet",
    "solar-constant": "Solar Constant",
    "speed-paused": "Pause",
    "speed-normal": "Normal speed",
    "speed-fast": "Fast speed",
    "star-system": "Star system",
    "start": "Start",
    "statistics": "Statistics",
    "selected-tool": "Selected tool",
    "upkeep": "Upkeep",
    "water": "Water",
    
    // Resources
    "energy": "Energy",
    "ice": "Ice",
    "material": "Material",
    "nitrogen": "Nitrogen",

    // Biomes
    "rock": "Rock",
    "ocean": "Ocean",
    "desert": "Desert",
    "ice-field": "Ice Field",
    "grassland": "Grassland",

    // Structures
    "oxygen-generator": "Oxygen Generator",
    "rainmaker": "Rainmaker",
    "fertilization-plant": "Fertilization Plant",
    "heater": "Heater",
    
    // Orbital Buildings
    "fusion-reactor": "Fusion Reactor",
    "nitrogen-sprayer": "Nitrogen Sprayer",
    
    // Star System Buildings
    "asteroid-mining-station": "Asteroid Mining Station",
    "ice-mining-station": "Ice Mining Station",
    "dyson-swarm-unit": "Dyson Swarm Unit",
    "ammonia-extractor": "Ammonia Extractor",
    
    // Messages
    "welcome_to": "Welcome to {$app_name} !",
}
