{
    // UI
    "add": "追加",
    "atmosphere": "大気",
    "atmosphere-pressure": "気圧",
    "air-temprature": "気温",
    "build": "建設",
    "carbon-dioxide": "二酸化炭素",
    "coordinates": "座標",
    "cost": "コスト",
    "demolition": "撤去",
    "density": "密度",
    "enabled": "有効",
    "exit": "終了",
    "fertility": "肥沃度",
    "height": "高さ",
    "latitude": "緯度",
    "layers": "レイヤー",
    "load": "ロード",
    "longitude": "経度",
    "messages": "メッセージ",
    "menu": "メニュー",
    "new": "新規",
    "none": "なし",
    "orbit": "軌道",
    "oxygen": "酸素",
    "planet": "惑星",
    "produces": "産出",
    "radius": "半径",
    "rainfall": "降水量",
    "save": "セーブ",
    "search-new-planet": "新しい惑星をさがす",
    "solar-constant": "太陽定数",
    "speed-paused": "停止",
    "speed-normal": "通常速度",
    "speed-fast": "高速",
    "star-system": "星系",
    "start": "開始",
    "statistics": "統計",
    "selected-tool": "選択中のツール",
    "upkeep": "維持",
    "water": "水",
    
    // Resources
    "energy": "エネルギー",
    "ice": "氷",
    "material": "素材",
    "nitrogen": "窒素",

    // Biomes
    "rock": "岩石",
    "ocean": "海",
    "desert": "砂漠",
    "ice-field": "氷原",
    "grassland": "草原",

    // Structures
    "oxygen-generator": "酸素発生機",
    "rainmaker": "降雨装置",
    "fertilization-plant": "肥沃化工場",
    "heater": "ヒーター",
    
    // Orbital Buildings
    "fusion-reactor": "核融合炉",
    "nitrogen-sprayer": "窒素散布器",
    
    // Star System Buildings
    "asteroid-mining-station": "小惑星採掘ステーション",
    "ice-mining-station": "氷採掘ステーション",
    "dyson-swarm-unit": "ダイソンスウォームユニット",
    "ammonia-extractor": "アンモニア抽出ステーション",
    
    // Messages
    "welcome_to": "{$app_name} へようこそ",
}
