{
    // UI
    "air-temprature": "気温",
    "atmosphere": "大気",
    "atmosphere-pressure": "気圧",
    "average-air-temprature": "平均気温",
    "average-rainfall": "平均降水量",
    "average-sea-temprature": "平均海水温",
    "biomass": "生物量",
    "biome": "バイオーム",
    "build": "建設",
    "cancel": "キャンセル",
    "carbon-dioxide": "二酸化炭素",
    "civilization": "文明",
    "civilize-new": "新たな種族を文明化",
    "close": "閉じる",
    "coordinates": "座標",
    "cost": "コスト",
    "demolition": "撤去",
    "density": "密度",
    "details": "詳細",
    "difference-in-elevation": "高低差",
    "enabled": "有効",
    "exit": "終了",
    "fertility": "肥沃度",
    "height": "高さ",
    "help": "ヘルプ",
    "history": "歴史",
    "latitude": "緯度",
    "layers": "レイヤー",
    "load": "ロード",
    "longitude": "経度",
    "messages": "メッセージ",
    "main-menu": "メインメニュー",
    "map": "地図",
    "menu": "メニュー",
    "new": "新規",
    "none": "なし",
    "orbit": "軌道",
    "oxygen": "酸素",
    "planet": "惑星",
    "produce": "産出",
    "project": "プロジェクト",
    "radius": "半径",
    "rainfall": "降水量",
    "save": "セーブ",
    "search-new-planet": "新しい惑星をさがす",
    "solar-constant": "太陽定数",
    "speed-paused": "停止",
    "speed-normal": "通常速度",
    "speed-fast": "高速",
    "star-system": "星系",
    "start": "開始",
    "statistics": "統計",
    "structures": "構造物",
    "selected-tool": "選択中のツール",
    "upkeep": "維持",
    "water": "水",
    
    // Resources
    "energy": "エネルギー",
    "ice": "氷",
    "material": "素材",
    "carbon": "炭素",
    "nitrogen": "窒素",

    // Biomes
    "rock": "岩石",
    "ocean": "海",
    "sea-ice": "海氷",
    "desert": "砂漠",
    "ice-field": "氷原",
    "tundra": "ツンドラ",
    "grassland": "草原",
    "boreal-forest": "針葉樹林",
    "temperate-forest": "温帯樹林",
    "tropical-rainforest": "熱帯雨林",

    // Structures
    "oxygen-generator": "酸素発生機",
    "nitrogen-sprayer": "窒素散布機",
    "carbon-dioxide-sprayer": "二酸化炭素散布機",
    "rainmaker": "降雨装置",
    "fertilization-plant": "肥沃化工場",
    "heater": "ヒーター",
    "settlement": "居住地",

    // Civilization Ages
    "stone-age": "石器時代",
    "bronze-age": "青銅器時代",
    "iron-age": "鉄器時代",
    "industrial-age": "工業化時代",
    "atomic-age": "原子力時代",
    "early-space-age": "初期宇宙時代",

    // Orbital Buildings
    "fusion-reactor": "核融合炉",
    "orbital-mirror": "軌道ミラー",
    "solar-shield": "ソーラーシールド",
    "ion-irradiator": "イオン放射機",

    // Star System Buildings
    "asteroid-mining-station": "小惑星採掘ステーション",
    "ice-mining-station": "氷採掘ステーション",
    "dyson-swarm-unit": "ダイソンスウォームユニット",
    "methane-extractor": "メタン抽出機",
    "ammonia-extractor": "アンモニア抽出機",

    // Messages
    "msg/warn-high-temp": "高すぎる気温\n気温が高すぎます。気温を下げるには、軌道上建造物であるソーラーシールドを稼働させ、地表に届く太陽光を遮蔽することが効果的です。",
    "msg/warn-low-temp": "低すぎる気温\n気温が低すぎます。気温を上げるには、軌道上建造物である軌道ミラーを稼働させ、地表に届く太陽光を増やすことが効果的です。",
    "msg/welcome": "{$app_name} へようこそ",
    "msg/loading-failed": "ロード失敗",
    "msg/loading-failed-description": "ロードに失敗しました。セーブデータが存在していないか、バージョンの異なるセーブデータである可能性があります。",

    // Help
    "basics": "基本",
    "concept": "コンセプト",
    "administrator": "管理者",
    "terraforming": "テラフォーミング",
    "orbital-buildings": "軌道上建造物",
    "star-system-buildings": "星系建造物",
    
    "help/concept": "Gaia Maker では、プレイヤーはある未開の惑星とそれを含む星系の管理者となり、テラフォーミングと施設運営を行います。テラフォーミングとは、不毛な惑星を生命が住める環境に改善するプロセスであり、人類が地球以外に大規模な居住地を設けるにはテラフォーミングが不可欠です。各種の施設を建設し、惑星上の大気や気温、植生を調整しましょう。そうすれば、生命にとって理想的な環境を整えることができます。",
    "help/administrator": "管理者であるプレイヤーは、テラフォーミング候補惑星のあるこの星系へと恒星間宇宙船を用いて長い年月をかけやって来ました。管理者は、タイプII文明に相当する技術を持ち、地球型惑星のテラフォーミング技術も所有します。また、母星からテラフォーミングのために様々な動植物の遺伝情報を持ち込んでいます。\n\nタイプII文明とは、カルダシェフ・スケールにおいて、ある星系の全エネルギーを利用できる技術水準を持つ文明を指します。恒星のエネルギーをダイソンスフィアにより集め、その豊富なエネルギーを恒星間航行やテラフォーミングに利用します。",
    "help/terraforming": "テラフォーミングの基本は、惑星上の気温、降水量、土壌を調整し、植物を生育することです。そのためには以下の施設が助けになります。\n\n軌道ミラー・ソーラーシールド\n惑星軌道上に建設できるこれらの施設は、地表に届く恒星の光を増減させ、気温を変化させます。\n\n降雨装置\n海がある惑星であればその周辺に降雨がありますが、そうでなければこの施設で降雨を発生させます。\n\n肥沃化工場\n周辺の肥沃度を増加させ、植物を生育します。",

    "help/oxygen-generator": "酸素発生機は、ケイ素といった元素と結合している地殻中の酸素を単離し、大気中に放出します。その過程には十分なエネルギーが必要です。",
    "help/nitrogen-sprayer": "窒素散布機は窒素を大気中に散布します。窒素は基本的に地殻にほとんど存在しないので、アンモニアを大気として持つ別の天体から輸送する必要があります。",
    "help/carbon-dioxide-sprayer": "二酸化炭素散布機は、二酸化炭素を大気中に放出します。稼働には炭素が必要です。",
    "help/rainmaker": "降雨装置は、氷を水蒸気に変えて大気中に放出します。周囲の降雨量を増やすほか、わずかに惑星全体の海面を上昇させます。",
    "help/fertilization-plant": "肥沃化工場は、周辺を植物の育成に適した土壌にゆっくりと変化させます。植物の生育には十分な養分を含む土壌が必要であり、この工場は肥料と土壌改良ドローンを展開することによりその形成を促進します。",
    "help/heater": "ヒーターはエネルギーを大気中に熱として放出し、周辺の気温を上昇させます。",

    "help/fusion-reactor": "核融合炉は施設の稼働に必要となるエネルギーを供給します。核融合は宇宙文明にとって不可欠な高効率のエネルギー源ですが、それ以上のエネルギーが必要なのであれば、巨大な核融合炉、恒星の利用が必要でしょう。",
    "help/orbital-mirror": "軌道ミラーは、恒星の光を反射し惑星表面に到達する光エネルギーを増加させます。1個につき太陽光を1%増加させます。",
    "help/solar-shield": "ソーラーシールドは、恒星の光を遮蔽し惑星表面に到達する光エネルギーを減少させます。1個につき太陽光を1%減少させます。",
    "help/ion-irradiator": "イオン放射機は、惑星の大気に加速したイオンを衝突させることにより、その分子を宇宙空間へと弾き飛ばします。大気質量を減らすことにより気圧を下げる効果をもちます。",

    "help/dyson-swarm-unit": "ダイソンスウォームは、恒星の発するエネルギーを余すことなく利用するための巨大建造物であり、ダイソンスフィアの1つの形態です。ユニットひとつひとつは光を反射して需要地まで届ける巨大な鏡に過ぎませんが、数が揃えば惑星改造にも十分なほどのエネルギーを供給します。",
    "help/asteroid-mining-station": "小惑星採掘ステーションは、小惑星から鉱石を採掘し、建築などに利用可能な素材に加工します。",
    "help/ice-mining-station": "氷採掘ステーションは、氷を豊富に含む天体から氷を採掘します。",
    "help/methane-extractor": "メタン抽出機は、メタンが気体もしくは固体の状態で含まれる天体から炭素を抽出します。",
    "help/ammonia-extractor": "アンモニア抽出機は、アンモニアが気体もしくは固体の状態で含まれる天体から窒素を抽出します。",

    // Events
    "event/start": "新たな惑星\nあなたは不毛な未開の惑星に到着しました。惑星の状態に応じて各種施設を建設し、生命に適した環境に作り変えましょう。\n施設の維持にはエネルギーが、建設には素材が必要です。エネルギーは軌道上に核融合炉を、素材は星系に小惑星採掘ステーションを建設することによって生産できます。\n詳しい情報については適宜ヘルプを参照して下さい。",
}
