{
    // UI
    "atmosphere": "大気",
    "air-temprature": "気温",
    "build": "建設",
    "coordinates": "座標",
    "energy": "エネルギー",
    "layers": "レイヤー",
    "material": "素材",
    "messages": "メッセージ",
    "none": "なし",
    "orbit": "軌道",
    "star-system": "星系",
    "selected-tool": "選択中のツール",

    // Structures
    "oxygen-generator": "酸素発生機",
    "fertilization-plant": "肥沃化工場",
    
    // Messages
    "welcome_to": "{$app_name} へようこそ",
}
