{
    rock: (
        z: 80.0,
        albedo: 0.3,
        revaporization_ratio: 0.1,
        priority: 0,
        mean_transition_time: 200,
        requirements: (
            temprature: (-275.15, 10000.0),
            rainfall: (0.0, 100000.0),
            fertility: (0.0, 100.0),
        ),
    ),
    ocean: (
        z: 90.0,
        albedo: 0.2,
        revaporization_ratio: 0.0,
        priority: 0,
        mean_transition_time: 1,
        requirements: (
            temprature: (-10.0, 100.0),
            rainfall: (0.0, 100000.0),
            fertility: (0.0, 100.0),
        ),
    ),
    desert: (
        z: 50.0,
        albedo: 0.35,
        revaporization_ratio: 0.1,
        priority: 1,
        mean_transition_time: 80,
        requirements: (
            temprature: (-50.0, 100.0),
            rainfall: (0.0, 1000.0),
            fertility: (0.0, 100.0),
        ),
    ),
    grassland: (
        z: 40.0,
        albedo: 0.2,
        revaporization_ratio: 0.3,
        priority: 10,
        mean_transition_time: 120,
        requirements: (
            temprature: (0.0, 42.0),
            rainfall: (300.0, 4000.0),
            fertility: (15.0, 100.0),
        ),
    ),
}
