{
    "rock": (
        z: 80.0,
        albedo: 0.3,
        revaporization_ratio: 0.1,
        priority: 1,
        mean_transition_time: 200,
        requirements: (
            temp: (-273.15, 10000.0),
            rainfall: (0.0, 100000.0),
            fertility: 0.0,
            biomass: 0.0,
        ),
        color: (198, 118, 37),
    ),
    "ocean": (
        z: 90.0,
        albedo: 0.2,
        revaporization_ratio: 0.0,
        priority: 0,
        mean_transition_time: 100,
        requirements: (
            temp: (-10.0, 100.0),
            rainfall: (0.0, 100000.0),
            fertility: 0.0,
            biomass: 0.0,
        ),
        color: (43, 82, 187),
    ),
    "sea-ice": (
        z: 95.0,
        albedo: 0.7,
        revaporization_ratio: 0.0,
        priority: 0,
        mean_transition_time: 100,
        requirements: (
            temp: (-273.15, -20.0),
            rainfall: (0.0, 100000.0),
            fertility: 0.0,
            biomass: 0.0,
        ),
        color: (234, 238, 241),
    ),
    "desert": (
        z: 50.0,
        albedo: 0.35,
        revaporization_ratio: 0.1,
        priority: 2,
        mean_transition_time: 80,
        requirements: (
            temp: (0.0, 100.0),
            rainfall: (0.0, 100000.0),
            fertility: 0.0,
            biomass: 0.0,
        ),
        color: (211, 141, 66),
    ),
    "ice-sheet": (
        z: 70.0,
        albedo: 0.7,
        revaporization_ratio: 0.1,
        priority: 2,
        mean_transition_time: 80,
        requirements: (
            temp: (-273.15, -15.0),
            rainfall: (0.0, 100000.0),
            fertility: 0.0,
            biomass: 0.0,
        ),
        color: (234, 238, 241),
    ),
    "tundra": (
        z: 45.0,
        albedo: 0.6,
        revaporization_ratio: 0.2,
        priority: 5,
        mean_transition_time: 100,
        requirements: (
            temp: (-15.0, 0.0),
            rainfall: (50.0, 3000.0),
            fertility: 10.0,
            biomass: 1.0,
        ),
        color: (171, 171, 171),
    ),
    "grassland": (
        z: 40.0,
        albedo: 0.2,
        revaporization_ratio: 0.3,
        priority: 10,
        mean_transition_time: 120,
        requirements: (
            temp: (0.0, 40.0),
            rainfall: (50.0, 5000.0),
            fertility: 20.0,
            biomass: 1.0,
        ),
        color: (94, 138, 64),
    ),
    "boreal-forest": (
        z: 35.0,
        albedo: 0.2,
        revaporization_ratio: 0.7,
        priority: 15,
        mean_transition_time: 150,
        requirements: (
            temp: (2.0, 15.0),
            rainfall: (300.0, 10000.0),
            fertility: 40.0,
            biomass: 5.5,
        ),
        color: (24, 80, 22),
    ),
    "temperate-forest": (
        z: 34.0,
        albedo: 0.2,
        revaporization_ratio: 0.7,
        priority: 20,
        mean_transition_time: 180,
        requirements: (
            temp: (15.0, 25.0),
            rainfall: (500.0, 10000.0),
            fertility: 40.0,
            biomass: 6.0,
        ),
        color: (37, 117, 19),
    ),
    "tropical-rainforest": (
        z: 33.0,
        albedo: 0.2,
        revaporization_ratio: 0.7,
        priority: 25,
        mean_transition_time: 180,
        requirements: (
            temp: (25.0, 40.0),
            rainfall: (800.0, 10000.0),
            fertility: 40.0,
            biomass: 7.0,
        ),
        color: (44, 192, 1),
    ),
}
