{
    oxygen_generator: (
        width: 48,
        height: 48,
        columns: 1,
        rows: 2,
        building: (
            energy: -100,
            cost: 200,
            effect: SprayToAtmo( kind: oxygen, mass: 500 ),
        ),
    ),
    rainmaker: (
        width: 48,
        height: 48,
        columns: 1,
        rows: 2,
        building: (
            energy: -20,
            cost: 100,
            effect: Vapor ( value: 5000, additional_water: 1e+9 ),
        ),
    ),
    fertilization_plant: (
        width: 48,
        height: 48,
        columns: 1,
        rows: 2,
        building: (
            energy: -0.02,
            cost: 50,
            effect: Fertilize ( increment: 0.1, max: 40.0, range: 2 ),
        ),
    ),
    heater: (
        width: 48,
        height: 48,
        columns: 1,
        rows: 2,
        building: (
            energy: -10,
            cost: 100,
            effect: Heater ( heat: 1.0e+18 ),
        ),
    ),
    carbon_capturer: (
        width: 48,
        height: 48,
        columns: 1,
        rows: 2,
        building: (
            energy: -550,
            cost: 200,
            effect: CaptureCarbonDioxide ( mass: 2.0e+4 ),
        ),
    ),
    settlement: (
        width: 48,
        height: 48,
        columns: 6,
        rows: 2,
        building: (),
    ),
}
