(
    start: (
        basics: (
            radius: 6300000,
            density: 5500,
            solar_constant: 1400,
        ),
        default_size: (128, 64),
        max_height: 5000.0,
        resources: {
            energy: 10000.0,
            material: 1000.0,
        },
        atmo_mass: {
            oxygen: 0,
            nitrogen: 1.0e+7,
            carbon_dioxide: 2.0e+8,
        },
        orbital_buildings: {
            fusion_reactor: 3,
        },
        star_system_buildings: {
            asteroid_mining_station: 2,
        },
    ),
    sim: (
        sim_normal_loop_duration_ms: 1000,
        sim_fast_loop_duration_ms: 250,
        total_mass_per_atm: 5.0e+9,
        secs_per_day: 86400,
        air_heat_cap: 1000.0,
        surface_heat_cap: 5.0e+6,
        sunlight_day_averaging_factor: 0.25,
        air_diffusion_factor: 0.01,
        n_loop_atmo_heat_calc: 10,
    ),
    orbital_buildings: {
        fusion_reactor: (
            cost: { material: 500 },
            upkeep: { material: 0.1 },
            produces: { energy: 1000 },
        ),
        nitrogen_sprayer: (
            cost: { material: 40 },
            upkeep: { nitrogen: 100 },
            effect: SprayToAtmo( kind: nitrogen, mass: 100 ),
        ),
    },
    star_system_buildings: {
        asteroid_mining_station: (
            cost: { material: 200 },
            upkeep: { energy: 10 },
            produces: { material: 100 },
        ),
        dyson_swarm_unit: (
            cost: { material: 20000 },
            upkeep: { material: 10 },
            produces: { energy: 50000 },
        ),
        ammonia_extractor: (
            cost: { material: 30 },
            upkeep: { energy: 1000 },
            produces: { nitrogen: 4 },
        ),
    },
)
