(
    sim: (
        sim_normal_loop_duration_ms: 1000,
        sim_fast_loop_duration_ms: 250,
        total_mass_per_atm: 5.0e+9,
        secs_per_day: 86400,
        air_heat_cap: 1000.0,
        surface_heat_cap: 5.0e+6,
        sunlight_day_averaging_factor: 0.25,
        air_diffusion_factor: 0.01,
        n_loop_atmo_heat_calc: 10,
        co2_green_house_effect_table: [
            (0.0, 0.0),
            (0.0003, 0.55),
            (0.005, 0.58),
            (0.01, 0.63),
            (80, 0.96),
        ],
        n_loop_vapor_calc: 4,
        vapor_diffusion_factor: 0.1,
        vapor_loss_ratio: 0.005,
        ocean_vaporization_table: [
            (-10.0, 0.0),
            (0.0, 10.0),
            (20.0, 1000.0),
            (40.0, 3000.0),
            (90.0, 4000.0),
        ],
        change_from_ocean_fertility_factor: 0.2,
    ),
    new_planet: (
        solar_constant: (min: 500, max: 2000, default: 1400),
        water_volume_max: 1.0e+18,
        nitrogen_max: 1.0e+10,
        carbon_dioxide_max: 2.0e+8,
    ),
    default_start_params: (
        basics: (
            radius: 6300000,
            density: 5500,
            solar_constant: 1400,
        ),
        size: (128, 64),
        max_height: 10000.0,
        resources: {
            energy: 10000.0,
            material: 1000.0,
        },
        atmo_mass: {
            oxygen: 0,
            nitrogen: 1.0e+7,
            carbon_dioxide: 2.0e+8,
        },
        water_volume: 5.0e+17,
        orbital_buildings: {
            fusion_reactor: 3,
        },
        star_system_buildings: {
            asteroid_mining_station: 2,
        },
        days_before_start: 100,
    ),
    orbital_buildings: {
        fusion_reactor: (
            cost: { material: 500 },
            upkeep: { material: 0.1 },
            produces: { energy: 1000 },
            build_max: 100,
        ),
        nitrogen_sprayer: (
            cost: { material: 40 },
            upkeep: { nitrogen: 100 },
            effect: SprayToAtmo( kind: nitrogen, mass: 100 ),
            build_max: 10,
        ),
    },
    star_system_buildings: {
        asteroid_mining_station: (
            cost: { material: 200 },
            upkeep: { energy: 10 },
            produces: { material: 100 },
            build_max: 100,
        ),
        ice_mining_station: (
            cost: { material: 200 },
            upkeep: { energy: 80 },
            produces: { ice: 1000 },
            build_max: 100,
        ),
        dyson_swarm_unit: (
            cost: { material: 20000 },
            upkeep: { material: 10 },
            produces: { energy: 50000 },
            build_max: 100,
        ),
        ammonia_extractor: (
            cost: { material: 30 },
            upkeep: { energy: 1000 },
            produces: { nitrogen: 4 },
            build_max: 100,
        ),
    },
)
