(
    id: "continental",
    difficulty: very_easy,
    radius: (6200, 300),
    solar_constant: (1350, 120),
    elevation: (7000.0, 1000.0),
    water_volume: (2.0e+17, 0.2e+17),
    nitrogen: (0.75, 0.08),
    carbon_dioxide: (0.05, 0.01),
    initial_conditions: [],
    height_table: [(0.0, 0.0), (0.2, 0.05), (0.4, 0.5), (0.8, 0.6), (1.0, 1.0)],
    target_sea_level: 0.525,
)
