(
    id: "tutorial",
    habitability: ideal,
    radius: (6000, 0),
    solar_constant: (1330, 0),
    elevation: (7000.0, 0.0),
    water_volume: (2.0e+17, 0.2e+17),
    nitrogen: (0.75, 0.00),
    oxygen: (0.06, 0.00),
    carbon_dioxide: (0.007, 0.00),
    argon: (0.01, 0.00),
    initial_conditions: [],
    height_table: [(0.0, 0.0), (0.2, 0.05), (0.4, 0.48), (0.8, 0.6), (1.0, 1.0)],
    target_sea_area: 0.52,
)
