(
    size: small,
    cost: 2,
    habitat: land,
    growth_speed: 140,
    temp: (5, 50),
    settlement_effect: 0.9,
    civ_prob: 0.02,
    color: (0x36, 0x36, 0x36),
    evolve_from: [("crab", 1.0)],
)
