(
    size: small,
    cost: 2,
    habitat: land,
    growth_speed: 140,
    temp: (8, 35),
    settlement_effect: 0.6,
    civ_prob: 0.02,
    color: (0xf7, 0xe9, 0x00),
    evolve_from: [("crab", 0.5)],
)
