(
    size: small,
    cost: 2,
    habitat: sea,
    growth_speed: 150,
    temp: (5, 35),
    settlement_effect: 0.8,
    civ_prob: 0.05,
    color: (0xbe, 0x48, 0x30),
    evolve_from: [("jellyfish", 0.2), ("octopus", 0.2)],
)
